/* Caption text */
.caption_text {
  color: #222222;
  font-size: 14px;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  box-sizing: border-box;
}


/* FLEXIBLE ARTICLE WITH RESPONSIVE IMAGES 
reference: https://get.foundation/building-blocks/blocks/flexible-article-images.html*/


/* Full Image */

.flexible-article-image-full .thumbnail {
  height: 100%;
  position: relative;
}

.flexible-article-image-full .thumbnail img {
  height: 100%;
}

.flexible-article-image-full .caption {
  font-size: 0.9rem;
}

.flexible-article-image-full .thumbnail h1 {
  position: absolute; /* Position the h1 text absolutely within the thumbnail */
  top: 50%; /* Move the text 50% down from the top */
  color: white; /* Text color */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8); /* Text shadow for better visibility */
  text-align: center; /* Center the text horizontally */
  padding: 20px; /* Add padding to the text */
  background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
  max-width: 100%; /* Set maximum width for the text */
  overflow: none;
max-height: 100%;
}


/* Image Left*/

.flexible-article-image-left {
  float: left;
  margin: 1rem 1.5rem 0 0;
  max-width: 50%;
}

.flexible-article-image-left .caption {
  font-size: 0.9rem;
}

@media screen and (max-width: 39.9375em) {
  .flexible-article-image-left {
    float: none;
    max-width: 100%;
    margin: 0;
  }
  .flexible-article-image-left .thumbnail {
    width: 100%;
  }
  .flexible-article-image-left .thumbnail img {
    width: 100%;
  }
}

/* Image Right */

.flexible-article-image-right {
  float: right;
  margin: 0 0 1rem 1.5rem;
  max-width: 600px;
}

.flexible-article-image-right .caption {
  font-size: 0.9rem;
}

@media screen and (max-width: 39.9375em) {
  .flexible-article-image-right {
    float: none;
    max-width: 100%;
    margin: 0;
  }
  .flexible-article-image-right .thumbnail {
    width: 100%;
  }
  .flexible-article-image-right .thumbnail img {
    width: 100%;
  }
}


/*GOOGLE FONTS*/

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*SLIDESHOW*/

 * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  float: right;
  min-height: 450px;
  position: relative;
  margin-left: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #ffffff;
  background-color: #222222;
  font-size: 12px;
  position: absolute;
  left: 0;
  text-align: left;
  padding: 10px;
  width: 100%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*HYPERLINKS*/
p a:link {
    color: midnightblue;
}

/* Change color of links on hover to red */
p a:hover {
    color: purple;
}